#grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: auto;
}
#grid-container div {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-content: center;
}
#grid-container div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 150px;
  height: auto;
  /* margin-top: 20px; */
}
#header{
  font-size: 25px;
  font-family: Didot;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: hotpink;
  text-align: center;
}

#easy, #medium, #hard {
  font-family: Didot;
  font-size: 20px;
  display: inline-block;
  background-color: hotpink;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 31%;
};


#image-area{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 150px;
  height: auto;
  margin-top: 20px;
}


#time-display {
  font-size: 25px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Didot;
  color: hotpink;
  text-align: center;
  padding: 20px;
  background-color: ghostwhite;
  border: 2px solid hotpink;
}

body {
  font-family: Didot;
}